@import 'variables';
#dropdown {
	z-index: 1;
}
.modal-overlay {
  width: 100% !important;
  height: 100vh !important;
  background-color: black !important;
  position: fixed !important;
  top: 0 !important;
}
.card {
  // background: #6190E8; /* fallback for old browsers */
// background: -webkit-linear-gradient(to left, #6190E8 , #A7BFE8); /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to left, #6190E8 , #A7BFE8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}
.btn {
  background-color: $accent-color;
}
.btn:hover {
  background-color: $primary-color-light;
}
.btn:focus {
  background-color: $primary;
}
input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid $accent-color;
    box-shadow: 0 1px 0 0 $accent-color;
}
input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid $accent-color;
    box-shadow: 0 1px 0 0 $accent-color;
}
input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $accent-color;
    box-shadow: 0 1px 0 0 $accent-color;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: $accent-color;
}
.switch label input[type=checkbox]:checked+.lever:after{
  background-color: #f3999d;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: $accent-color;
}
a {
    color: $primary;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: $accent-color;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
  border: 2px solid $accent-color;
}
.chips.focus{
  border-bottom: 1px solid $accent-color;
  box-shadow: 0 1px 0 0 $accent-color;
}
#sidenav-overlay {
	display:none;
}
#user-avatar {
	// border-radius: 99%;
  object-fit: cover;
  width: 10em;
}
.card.horizontal .card-image {
  max-width: 60%;
}
.container{
  width: 80%;
}
.navbar-user {
  width: 3em;
  height: 3em;
  margin-top: 0.5em;
}
// Button upload styles
.btn-upload {
  position: relative;
  overflow: hidden;
}
.btn-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  -webkit-transform: translate(-300px, 0) scale(4);
  -ms-transform: translate(-300px, 0) scale(4);
  -o-transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
* html .btn-upload {
  line-height: 24px;
  margin: 1px -3px 0 0;
}
* + html .btn-upload {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}
.star {
    visibility:hidden;
    font-size:30px;
    cursor:pointer;
}
.star:before {
   content: "\2605";
   position: absolute;
   visibility:visible;
}
.star:checked:before {
   content: "\2606";
   position: absolute;
}