<div class="container">
	<div class="row">
		<div class="card col s10 offset-s1">
			<div class="row" style="margin-top: 1em;">
				<button class="waves-effect waves-light btn col s5 offset-s1" ng-click="setRegisterContainer()">Register</button>
				<button class="waves-effect waves-light btn col s4 offset-s1" ng-click="setLoginContainer()">Login</button>
			</div>
			<div class="row">
				<div ng-show="loginContainer">
					<h3 class="col s10 offset-s1">LOGIN FORM</h3>
					<div class="row">
						<input id="login-email" type="email" class="input-field col s10 offset-s1" placeholder="Email address" ng-model="login.email" required autofocus>
					</div>
					<div class="row">
						<input type="password" class="input-field col s10 offset-s1" placeholder="Password" ng-model="login.password" required>
					</div>
					<div class="row">
						<a class="waves-effect waves-light btn col s10 offset-s1" ng-click="loginUser(login)">Submit Login</a>
					</div>
				</div>
				<div ng-show="registerContainer">
					<h3 class="col s10 offset-s1">REGISTER FORM</h3>
					<div class="row">
						<input type="email" class="input-field col s10 offset-s1" placeholder="Email address" ng-model="register.email" required autofocus>
					</div>
					<div class="row">
						<input type="text" class="input-field col s10 offset-s1" placeholder="Username" ng-model="register.displayName" required>
					</div>
					<div class="row">
						<input type="password" class="input-field col s10 offset-s1" placeholder="Password" ng-model="register.password" required>
					</div>
					<div class="row">
						<a class="waves-effect waves-light btn col s10 offset-s1" ng-click="registerUser(register)">Submit Registration</a>
					</div>
				</div>
			</div>
			<div class="fixed-action-btn horizontal"> 
			    <a tooltipped class="btn-floating btn-large indigo accent-1" data-position="top" data-delay="50" data-tooltip="Login with social media"><i class="zmdi zmdi-account-add"></i>
			    </a>
			    <ul>
			      <li><a class="btn-floating  indigo lighten-1" ng-click="loginFacebookUser()"><i class="zmdi zmdi-facebook"></i></a></li>
			      <li><a class="btn-floating red darken-1" ng-click="loginGoogleUser()"><i class="zmdi zmdi-google-plus"></i></a></li>
			      <li><a class="btn-floating light-blue darken-1" ng-click="loginTwitterUser()"><i class="zmdi zmdi-twitter"></i></a></li>
			      <li><a class="btn-floating grey lighten-2" ng-click="loginGithubUser()"><i class="zmdi zmdi-github"></i></a></li>
			    </ul>
		  	</div> <!-- End of Fab -->
		</div>  
  	</div>
</div>
