<div class="col s6 offset-s1" style="height: 600px; overflow-y: scroll">
        <ul class="collection with-header">
          <li class="collection-header">
            <h4>Latest Activity</h4>
          </li>
          <li class="collection-item" ng-repeat="annotation in annotationsArray">
            <div class="row">
              <p class="collections-title">{{annotation.title}}</p>
              <p class="collections-content">{{annotation.updated | date: medium}}</p>
            </div>
          </li>
        </ul>
      </div>
  </div>
  <div class="row">
    <div google-chart chart="myChartObject" style="height:450px; width:100%;">
    </div>
  </div> 