<div ng-controller="NavCtrl">
    <div class="navbar-fixed">
        <nav>
          <div class="nav wrapper">
            <!-- Brand and toggle get grouped for better mobile display -->
            <a href="#!" class="brand-logo center">Archivlo</a>
            <a href="#!" data-activates="mobile-nav" data-sidenav="left" data-menuwidth="500" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
            <!-- normal navigation -->
            <ul class="right hide-on-med-and-down" ng-repeat="navItem in navItems" ng-show="user">
                <li><a href="{{navItem.url}}">{{navItem.name}}</a></li>
            </ul>  
            <!-- Side navigation  -->
            <ul class="side-nav" id="mobile-nav" ng-repeat="navItem in navItems" ng-show="user">
                <li><a href="{{navItem.url}}">{{navItem.name}}</a></li>
            </ul>
            
          </div><!-- /.navwrapper -->
        </nav>
    </div>

</div> 
