<div id="modalTrigger" modal data-target="registerModal" ready="readyCallback()" complete="completeCallback()" open="openModal" class="ng-hide" ng-click="getModal(); $event.stopPropagation();"></div>
<!-- Modal Structure -->
<div id="registerModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <div class="row">
      <h3>
        Welcome to Archivlo {{user.displayName}}
      </h3>
    </div>
    <div class="divider"></div>
    <div class="row">
      <p>Archivlo is a tool for working with archival records, and is designed to help you manage your archival research workflow. Archivlo helps you create new research projects, manage relevant archival collections, and share your projects with others.</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>Before you start project...</h5>
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="zmdi zmdi-mood"></i>Add a Profile Picture</div>
          <div class="collapsible-body">
          <p>
            <input type="file" ng-file-model="userImage"/>
            <img style="width:50%" ng-src="{{userImage.data}}" class="col s2"/>
          </p>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="zmdi zmdi-account-add"></i>Add Your Hypothesis Account</div>
          <div class="collapsible-body">
          <p>
            What's Hypothesis? <a target="_blank" ng-href="https://hypothes.is/about/"><i class="zmdi zmdi-info"></a></i>
          </p>
          <p>
            "Hypothesis is an open platform for discussion on the web. It leverages annotation to enable sentence-level critique or note-taking on top of news, blogs, scientific articles, books, terms of service, ballot initiatives, legislation and more."
          </p>
          <div class="divider"></div>
          <div class="section">
            <p>Do you have a Hypothesis Account?</p>
          <p>
            If not, sign up <a target="_blank" ng-href="https://hypothes.is/signup">here</a> for a hypothesis account and add your username below.
          </p>
          <img style="width:50%" class="col s8 offset-s1" ng-src="https://firebasestorage.googleapis.com/v0/b/archivlo-5b03d.appspot.com/o/hypothesisSignUpScreen.png?alt=media&token=d5ba39cf-ac69-44fd-a322-e672df855501" />
          </div>
          <p>
            <label>Add Your Hypothesis Username<a href="!#" tooltipped data-position="top" data-delay="50" data-tooltip="Input your Hypothesis Username here"><i class="zmdi zmdi-info"></i></a></label>
            <div class="row">
              <input type="text" class="input-field col s8 offset-s1" ng-model="user.hypothesisUsername" required>
            </div>
          </p>
          <div class="divider"></div>
          <div class="section">
          <p>
            If you want to get your private annotations, find your Hypothesis Developer Token <a target="_blank" ng-href="https://hypothes.is/account/developer">here.
          </p>
          <img style="width:50%" class="col s8 offset-s1" ng-src="https://firebasestorage.googleapis.com/v0/b/archivlo-5b03d.appspot.com/o/hypothesisTokenScreen.png?alt=media&token=c0d431e4-8dc6-421a-b49b-d47973a35fff" />
          <p>
            <label>Add Your Hypothesis Token <a href="!#" tooltipped data-position="top" data-delay="50" data-tooltip="Input your Hypothesis Token here"><i class="zmdi zmdi-info"></i></a></label>
            <div class="row">
              <input type="text" class="input-field col s8 offset-s1" ng-model="user.hypothesisToken" required>
            </div>
          </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="newAvatar(); updateUser()">Save User Settings</button>
  </div>
</div><!-- End of registering modal -->


<div class="row"> <!-- Beginning of Projects Page -->
  <div class="fixed-action-btn horizontal"> 
    <a tooltipped class="btn-floating btn-large indigo accent-1" ng-href="#/projects/new" data-position="top" data-delay="50" data-tooltip="Start a new project"><i class="large material-icons">add</i>
    </a>
  </div> <!-- End of Fab -->
  <!-- Projects Container -->
  <div class="container" id="projects">
    <div class="card col s11 offset-s1"> <!-- Beginning of User Project Dashboard -->
      <div class="card-content">
        <div class="row">
          <div class="col s12">
            <div class="right-align">
              <div class="switch">
                <label>
                  Project Cover Photos Off
                  <input id="coverPhotoSwitch" type="checkbox" ng-click="isSwitchedOn()" ng-checked="switchValue">
                  <span class="lever"></span>
                  Project Cover Photos On
                </label>
              </div>
            </div>
            <span class="card-title">
              <h4>{{user.displayName}}'s Projects Dashboard</h4>
            </span>
            <div class="divider"></div>
            <p>Total number of projects: {{projects.length}}</p>
          </div>
        </div>
        <div class="row"> <!-- Begging of Tabs -->
          <ul class="tabs" tabs>
              <li class="tab col s4">
                <a class="future" href="#future">Future Projects</a>
              </li>
              <li class="tab col s4">
                <a class="active" href="#active">Active Projects</a>
              </li>
              <li class="tab col s4">
                <a href="#archived">Archived Projects</a>
              </li>
          </ul>
        </div> <!-- End of Tabs -->        
      </div>
    </div> <!-- End of User Project Dashboard -->
    
    <div class="row"> <!-- Projects Area Container Row -->
      <div class="row" id="future"> <!-- Beginning of future projects -->
        <div ng-repeat="project in projects | filter: {statusId: 'status0'}">
          <div class="card col s12 m10 offset-m1 l5 offset-l1">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="{{project.coverPhoto}}" ng-show="imageValue">
            </div>
            <div class="card-content">
              <span class="card-title">
                <a href="#/projects/view/{{project.id}}">{{project.title}}</a>
              </span>
              <p>Description of Project: {{project.description}}
              </p>
              <p style="color:lightgrey">Contains: {{project.leads.length}} research leads / {{project.notes.length}} notes / {{project.userArchives.length}} archives  
              </p>
            </div>
            <div class="card-action">
              <a ng-href="#/projects/edit/{{project.id}}">Edit</a>
              <a href="" ng-click="duplicateProject($index)">Duplicate</a>
              <a href="" ng-click="deleteProject(project.id)">Delete</a>
              <a href="" ng-click="downloadProject(project.id)" ng-csv="getArray()" csv-header="getHeader()" filename="{{project.id}}" field-separator="separator" decimal-separator="decimalSeparator">Download</a>
            </div>
          </div>
        </div>
      </div> 
    </div> <!-- End of Future Projects -->
    <div class="row" id="active"> <!-- Beginning of active projects -->
      <div ng-repeat="project in projects | filter: {statusId: 'status1'}">
        <div class="card col s12 m10 offset-m1 l5 offset-l1">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="{{project.coverPhoto}}" ng-show="imageValue">
            </div>
            <div class="card-content">
              <span class="card-title">
                <a href="#/projects/view/{{project.id}}">{{project.title}}</a>
              </span>
              <p>Description of Project: {{project.description}}
              </p>
              <p style="color:lightgrey">Contains: {{project.leads.length}} research leads / {{project.notes.length}} notes / {{project.userArchives.length}} archives
              </p>
            </div>
            <div class="card-action">
              <a ng-href="#/projects/edit/{{project.id}}">Edit</a>
              <a href="" ng-click="duplicateProject(project.id)">Duplicate</a>
              <a href="" ng-click="deleteProject(project.id)">Delete</a>
              <a href="" ng-click="downloadProject(project.id)" ng-csv="getArray()" csv-header="getHeader()" filename="{{project.id}}" field-separator="separator" decimal-separator="decimalSeparator">Download</a>
            </div>
          </div>
      </div>
    </div>  <!-- End of Active Projects -->
    <div class="row" id="archived"> <!-- Beginning of archived projects -->
        <div ng-repeat="project in projects | filter: {statusId: 'status2'}">
          <div class="card col s12 m10 offset-m1 l5 offset-l1">
            <div class="card-image waves-effect waves-block waves-light">
              <img src="{{project.coverPhoto}}" ng-show="imageValue">
            </div>
            <div class="card-content">
              <span class="card-title">
                <a href="#/projects/view/{{project.id}}">{{project.title}}</a>
              </span>
              <p>Description of Project: {{project.description}}
              </p>
              <p style="color:lightgrey">Contains: {{project.leads.length}} research leads / {{project.notes.length}} notes / {{project.userArchives.length}} archives
              </p>
            </div>
            <div class="card-action">
              <a ng-href="#/projects/edit/{{project.id}}">Edit</a>
              <a href="" ng-click="duplicateProject(project.id)">Duplicate</a>
              <a href="" ng-click="deleteProject(project.id)">Delete</a>
              <a href="" ng-click="downloadProject(project.id)" ng-csv="getArray()" csv-header="getHeader()" filename="{{project.id}}" field-separator="separator" decimal-separator="decimalSeparator">Download</a>
            </div>
          </div>
        </div>
      </div> 
    </div> <!-- End of Archived Projects -->
  </div> <!-- End of Projects Area Container Row -->
</div> <!-- End of container row -->
    