<div class="row">
	<!-- <div class="row">
		<ul class="tabs">
		    <li class="tab col s6" ><a class="active" data-target="#searchProjects">Search Projects</a></li>
		    <li class="tab col s6"><a  data-target="#searchUsers" ng-click="searchUsers()">Search Users</a></li>
		</ul>
	</div> -->
	<div class="row" id="searchProjects">
		<div class="row">
			<div class="card col s10 offset-s1 blue-grey lighten-5">
				<div class="input-field col s8">
					<input type="text" id="search" ng-model="searchTerm" ng-keyup="$event.keyCode === 13 && searchRecords(searchTerm)">
					<label for="search">Enter any search term</label>
				</div>
					 <button class="waves-effect waves-light btn indigo lighten-1 col s4" ng-click="searchRecords(searchTerm)" style="margin-top: 1em;">Search Your Archival Records</button>
			</div>
		</div>
		<div class="row">
			<div class="col s12" ng-show="filtered.length">
				<div ng-repeat="item in filtered track by $index">
					<div class="card blue-grey lighten-5 col s8 offset-s2">
				        <div class="card-content">	
		          		 	<h4 class="card-title"><a ng-href="#/projects/view/{{item.id}}"> Title: {{item.title}}</a></h4>
		          		 	<div class="card-action">
			          		<p ng-show="item.description.length">Description: {{item.description}}</p>
			          		<p ng-show="item.keywords.length">Keywords: {{item.keywords}}</p>
		          		</div>
		          	</div>
				</div>
			</div>
		</div>
	</div> <!-- End of searchProjects -->
</div> <!-- End of containing row -->