<div class="row">

  <label>Add User Picture</label>
  <div class="row">
  <input type="file" ng-file-model="userImage" />
  <img ng-src="{{userImage.data}}" class="col s2"/>

  <button type="submit" ng-click="newAvatar()">submit</button>

  </div>
 
  <div class="row">
    <div class="card col s12 blue-grey lighten-5">
      <div class="card-image">
        <img ng-show="user.userAvatar" id="user-avatar" src="{{user.userAvatar}}" alt="user-avatar">

        
      </div>
      <div class="card-stacked">
        <span class="card-title center-align">
          <h4><i class="material-icons">search</i> {{user.username}}'s Archivlo Settings</h4>
        </span>
        <p class="center-align">Date Created: March 1, 2016</p> 
        <div class="card-content">
          <div class="col s10 offset-s1">
            <label>Username</label>
            <div class="row">
              <input type="text" class="input-field" ng-model="user.username" required>
            </div>
            <label>Email</label>
            <div class="row">
              <input id="login-email" type="email" class="input-field" ng-model="user.email" required>   
            </div>
            <label>Hypothesis Username</label>
            <div class="row">
              <input type="text" class="input-field" ng-model="user.hypothesisUsername" required>  
            </div>
            <label>Hypothesis Token</label>
            <div class="row">
              <input type="text" class="input-field" ng-model="user.hypothesisToken" required>
            </div>
            <div class="card-action">
              <button class="waves-effect waves-light btn indigo lighten-1">Save Settings</button>
            </div>
          </div>
        </div>
      </div>
    </div>
       
</div>
	      
