<div class="row">
	<div class="row">
		<div ng-repeat="project in projectsArray | filter: {id: clickProjectId}" class="col s8  align-left">
			<h3>Project Title {{project.title}}</h3>
		</div>
	</div>
	<div class="row">
		<button class="waves-effect waves-light btn col s4 offset-s2" ng-click="setImportHypothesis()">Import Hypothesis</button>
		<button class="waves-effect waves-light btn col s4 offset-s1" ng-click="setImportPDF()">Import PDF of Annotations</button>
	</div>
	<div class="row">
		<div ng-show="importHypothesis">
			<div class="card col s10 offset-s1 blue-grey lighten-5">
				<div class="input-field col s4">
				<input type="text" id="any" ng-model="userHypothesis.any">
				<label for="any">Enter any search term</label>
				</div>
				<div class="input-field col s4">
				<input type="text" id="user" ng-model="userHypothesis.user">
				<label for="user">Enter any user name</label>
				</div>
				<div class="input-field col s4">
				<input type="text" id="group" ng-model="userHypothesis.group">
				<label for="group">Enter any group name</label>
				</div>
				<div class="input-field col s4">
				<input type="text" id="tag" ng-model="userHypothesis.tag">
				<label for="tag">Enter any tag name</label>
				</div>
				<div class="input-field col s4">
				<input type="text" id="url" ng-model="userHypothesis.url">
				
				<label for="url">Enter any url</label>
				</div>
				<button class="waves-effect waves-light btn col s3 offset-s1" ng-click="searchHypothesis()">Search Hypothesis</button>
			</div>
		</div>
	</div> <!-- Import Hypothesis -->
	<!-- Fab -->
  <div class="fixed-action-btn"> 
    <a tooltipped class="btn-floating btn-large orange lighten-3" ng-click="selectedAnnotation()" data-position="top" data-delay="50" data-tooltip="Save selected annoations"><i class="large material-icons">check_circle</i>
    </a>
  </div> <!-- End of Fab -->
	<div id="searchAnnotations">
	    <div ng-show="searchAnnotations.length">
		    <div ng-repeat="annotation in searchAnnotations">
		      	<div class="card blue-grey lighten-5 col s8 offset-s2">
			        <div class="card-content">
			        	
	          			<h4 class="card-title">Title: {{annotation.document.title}}</h4>
	          			<div class="card-action">
	          			<p ng-show="annotation.text.length">Text: {{annotation.text}}</p>
	          			<p ng-show="annotation.tags.length">Tags: {{annotation.tags}}</p>
	          			<a ng-show="annotation.links.html.length" href="{{annotation.links.html}}">Link: {{annotation.links.html}}</a>
	          			<p ng-show="annotation.user.length">User: {{annotation.user}}</p>
	          			<p ng-show="annotation.group.length">Group: {{annotation.group}}</p>
	          			<input type="checkbox" id="{{annotation.id}}" ng-model="annotation.selected"/>
      					<label for="{{annotation.id}}">Select Annotation</label>
	          			</div>
	        		</div>
		      	</div>
		    </div>
	    </div>
  	</div>
</div>